html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F5F8FA;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Poppins', sans-serif;
}

p{
    font-size: 12px !important;
}

.f-14{
	font-size: 14px;
}

a:hover {
    text-decoration: none;
    outline: none;
}

a:focus {
    text-decoration: none;
    outline: none;
}

.pr0 {
    padding-right: 0
}

.pl0 {
    padding-left: 0
}

.p0 {
    padding: 0;
}

.mb0 {
    margin-bottom: 0;
}

/* custom scrollbar css */
/* width */
  ::-webkit-scrollbar {
    width: 4px;
  }  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f5f5f5; 
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #dedede; 
    border-radius: 15px;
  }  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  ::-moz-selection {
    /* Code for Firefox */
    color: #fff;
    background: #E3548A;
  }
  ::selection {
    color: #fff;
    background: #E3548A;
  }
/* custom scrollbar css end */


.btn-primary, button.btn-primary {
    background-color: #BC718C;
    font-size: 13px;
    transition: 0.3s;
    border: none;
    box-shadow: none;
    border-radius: 50px;
    padding: 10px 20px;
    letter-spacing: 0.6px;
    outline: none !important;
    color: #ffffff !important
}

.btn-primary:hover,button.btn-primary:hover,
.btn-primary:focus,button.btn-primary:focus,
.btn-primary:active, button.btn-primary:active{
    background-color: #e3548a;
    transition: 0.3s;
    box-shadow: 0 0 0 0.2rem rgb(227 84 138 / 24%);
}

.navbar {
    margin: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
    transition: 0.4s;
    background: linear-gradient(90deg, #BD708C, #9A7093);
    padding: 12px 10px;
    box-shadow: 0px 0px 12px #00000082;
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 11;
}

/*.navbar .navbar-brand img {
    width: 210px;
    vertical-align: top;
}*/
.navbar .navbar-brand img {
    width: 210px;
    height: 30px;
    object-fit: contain;
    vertical-align: top;
    object-position: left;
}
.navbar .nav-item {
    margin: 0 10px;
    position: relative;
}

.navbar .nav-item a {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    transition: 0.2s;
}

.navbar .nav-item a:after {
    content: "";
    width: 0%;
    background: #fff;
    height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -5px;
    transition: 0;
}

.navbar .nav-item a:hover:after {
    width: 100%;
    transition: 0.2s;
}

.navbar .nav-item.nav-btn {
    margin-right: 0;
}

.navbar .nav-item.nav-btn a:after {
    display: none;
}

.navbar .nav-item.nav-btn a {
    background: #fff;
    border-radius: 50px;
    color: #CB010E;
    padding: 12px 25px;
}

.navbar .user-name {
    font-size: 15px;
    color: #FCECBA;
    font-weight: 600;
    cursor: pointer;
    vertical-align: middle;
    letter-spacing: 0.6px;
}

.navbar .user-name img {
    width: 40px;
    margin-left: 10px;
    border-radius: 4px;
    object-fit: cover;
    height: 40px;
}

/* .content {
    margin-top: 20px
} */


/* .sidebar_new {
    background: #fff;
    box-shadow: 0 3px 13px 0px rgb(96 116 170 / 25%);
    border-radius: 10px;
    width: 300px;
    float: left;
    height: calc(100vh - 150px);
    position: fixed;
    top: 90px;
} */

.sidebar_new .company-logo {
    padding: 30px 20px;
    text-align: center;
    border-bottom: 1px solid #DEDEDE;
}

.sidebar_new .company-logo .notfication-btn {
    background: #E3548A;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 35px 6px 20px;
    position: relative;
    outline: none !important;
}

.sidebar_new .company-logo .notfication-btn .fa {
    margin-right: 5px
}

.sidebar_new .company-logo img {
    margin-bottom: 30px;
    width: 100px;
    border-radius: 10px;
    height: 100px;
    /*object-fit: contain;*/
    object-fit: cover;
    border: solid 1px #ddd;
    /*width: 100px;
    height: 100px;
    object-fit: cover;
    border: solid 3px #bc708c;
    box-shadow: 0px 3px 5px #9E9E9E; */
}

.sidebar_new .company-logo .notfication-btn:hover,
.sidebar_new .company-logo .notfication-btn:focus {
    box-shadow: 0 0 0 0.2rem rgb(227 84 138 / 24%);
}

.sidebar_new .company-logo .notfication-btn .count {
    background-color: #D9AF00;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 3px solid #fff;
    display: block;
    line-height: 26px;
    position: absolute;
    right: -6px;
    top: -10px;
    font-size: 13px;
}

.sidebar_new .main-menu {
    list-style: none;
    margin: 20px 0;
    padding: 0;
    /* height: calc(100% - 265px);
    overflow-y: auto; */
    border-radius: 0 0 30px 10px;
}


.sidebar_new .main-menu li a {
    padding: 10px 30px;
    color: #696979;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.4px;
    display: block;
    width: 100%;
    transition: 0.3s;
}

.sidebar_new .main-menu li a:hover {
    color: #E3548A;
    transition: 0.3s;
}

.sidebar_new .main-menu li a .fa {
    font-size: 22px;
    float: right;
    color: #E39CB6;
    transition: 0.3s;
}

.sidebar_new .main-menu .sub-menu {
    list-style: none;
    padding-left: 20px !important;
    background: #F9F2F4;
    padding: 8px 0;
}

.sidebar_new .main-menu li a[aria-expanded="true"] {
    background-color: #E39CB6;
    color: #fff;
    transition: 0.3s;
}

.sidebar_new .main-menu li a[aria-expanded="true"] .fa {
    color: #fff;
    transform: rotate(180deg);
    transition: 0.3s;
}

.main-body.chat-page{
	height: 785px;	
}

.main-body .content-header {
    background: #FCFCF2;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    float: left;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.main-body .content-header .company-name {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #102148;
    float: left;
}

.main-body .content-header .company-address {
    margin: 0;
    font-size: 13px;
    font-weight: 600;
    color: #957D91;
    float: right;
}

.main-body .content-body {
    padding: 15px;
    float: left;
    width: 100%;
    height: calc(100vh - 220px);
    overflow-y:auto ;
}

.main-body .content-body .profile-block {
    background: #FCFCF2;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
}

.main-body .content-body .profile-block .video-content h3 {
    color: #102148;
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.6px;
}

.main-body .content-body .profile-block .video-content .btn {
    margin: 15px 0;
}

.main-body .content-body .profile-block .video-content p {
    font-size: 14px;
    color: #535353;
    line-height: 22px;
    margin: 0;
    font-weight: 500
}

.main-body .content-body .profile-block .video-box .img-video {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    object-position: top;
}

.main-body .content-body .profile-block .video-box span {
    color: #102148;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    right: 25px;
    top: 8px;
    background: #fff;
    padding: 3px 8px;
    border-radius: 5px;
}

.main-body .content-body .profile-block .video-box span .fa {
    color: #BC718C;
    margin-left: 5px;
}

.playlist-section {
    margin: 15px 0;
    float: left;
    width: 100%;
}

.playlist-section .playlist-header {
    padding-left: 15px !important;
    border-left: 4px solid #BC718C;
    float: left;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;

}

.playlist-section .playlist-header h3 {
    color: #BC718C;
    margin: 0;
    font-size: 16px;
    float: left;
    font-weight: 600;
}

.playlist-section .playlist-header .see-more {
    float: right;
    color: #B0B6C4;
    margin: 0;
    font-size: 14px;
}

.playlist-section .playlist-header .see-more:hover {
    color: #BC718C;
}

.playlist-section .video-block {
    margin: 10px 0;
    border: 1px solid #DEDEDE;
    border-radius: 10px;
    transition: 0.3s;
}

.playlist-section .video-block:hover {
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0 0px 8px 0px #DEDEDE;
}


.playlist-section .video-block img {
    width: 100%;
    height: 110px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.playlist-section .video-block .video-block-content {
    padding: 11px;
}

.playlist-section .video-block .video-block-content h3 {
    margin: 0;
    font-size: 14px;
    color: #102148;
    font-weight: 600;
    letter-spacing: 0.6px;
    margin-bottom: 15px;
    transition: 0.3s;
    line-height: 18px;
}

.playlist-section .video-block:hover .video-block-content h3 {
    color: #BC718C;
    transition: 0.3s;
}

.playlist-section .video-block .video-block-content small {
    color: #74809D;
    font-weight: 600;
    letter-spacing: 0.6px;
    font-size: 14px;
}

.playlist-section .video-block span {
    color: #102148;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    right: 25px;
    top: 20px;
    background: #fff;
    padding: 3px 8px;
    border-radius: 5px;
}

.playlist-section .video-block span .fa {
    color: #BC718C;
    margin-left: 5px;
}

footer {
    background-color: #fff;
    padding: 10px 0;
    float: left;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer h5 {
    font-size: 12px;
    color: #74809D;
    margin: 0;
    float: left;
    margin: 6px 0;

}

footer ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: 5px;
}

footer ul li {
    list-style: none;
    display: inline-block;
}

footer ul li a {
    font-size: 12px;
    color: #74809D;
    margin: 0 10px;
    vertical-align: top;
}


.signup-page {
    background-image: url(../images/signup.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    margin-top: 60px;
    overflow: scroll;
}

.signup-page .right-form {
    background: rgb(255 255 255 / 72%);
    padding: 20px;
    /* float: right;
    height: auto;
    position: absolute;
    left: 0;
    right: 0; */
    top: 40px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 0 #000;
    box-shadow: 0 0 12px 0px rgb(0 0 0 / 22%);
    border: solid 2px #ffffff;
    margin-bottom: 70px;
}

.form-control:focus {
    border-color: #b5708e;
    box-shadow: 0 0 0 0.2rem rgb(180 112 141);
}

.table-hover tbody tr:hover {
    background-color: rgb(227 84 138 / 7%);
}

.table-hover tbody a {
    color: #e3548a;
    padding: 3px;
}

/*.content-header .btn {
    position: absolute;
    right: 20px;
    top: 9px;
}*/

.table-hover tbody td .fa {
    font-size: 20px;
    cursor: pointer;
}

.video-detail .video-box .img-video {
    height: 500px !important;
}

.video-detail .video-content {
    margin-top: 20px;
}

.link-btn {
    color: #000;
    font-size: 14px;
}

.link-btn:hover {
    color: #e3548a;
}

.login-page h6 {
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 14px;
}

.login-page h6 a {
    text-decoration: underline;
}

/* .comment-wrapper .panel-body {
    max-height: 650px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
} */

.comment-wrapper .media-list .media img {
    width: 40px;
    height: 40px;
    border: 2px solid #e5e7e8;
    margin-right: 12px;
}

.comment-wrapper .media-list .media {
    border-bottom: 1px dashed #efefef;
    margin-bottom: 20px;
    margin-right: 10px;
}

.bootstrap.snippets.bootdeys ul {
    margin: 10px 0 0 0;
    padding: 0;
}

.bootstrap.snippets.bootdeys .media img {
    border-radius: 50px;
    margin-right: 10px;
}

.bootstrap.snippets.bootdeys .media .media-body p {
    font-size: 14px;
    opacity: 0.7;
    margin-top: 3px;
    color: #000000;
}

.bootstrap.snippets.bootdeys .media .media-body ul li {
    display: inline;
    margin-right: 10px;
    cursor: pointer;
}

.bootstrap.snippets.bootdeys .media .media-body ul li:hover {
    color: #e3548a;
}



.survey-page h4 {
    text-align: center;
    margin: 15px 0 30px 0;
    color: #bc718c;
    font-size: 20px;
    font-weight: 600;
}

.rating label {
    width: 100%;
}

.rating .fa {
    font-size: 12px;
}

label {
    font-size: 14px;
    opacity: 0.8;
    font-weight: 300;
}

.signup-page label,
.login-page label {
    opacity: 1;
    font-weight: 500;
}

textarea {
    resize: none;
}

.dropdown .dropdown-menu li a {
    padding: 5px 10px;
    font-size: 14px;
    color: #000;
    display: block;
}
.dropdown .dropdown-menu li a:hover {
    color: #E3548A;
}

.inbox_people {
    background: #fff none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 33%;
    height: 785px;
    border-right: 1px solid #c4c4c4;
}

.inbox_msg {
    /* border: 1px solid #c4c4c4; */
    border-radius: 10px;
    clear: both;
    overflow: hidden;
}

.top_spac {
    margin: 20px 0 0;
}


.recent_heading {
    float: left;
    width: 40%;
}

.custom_search input.form-control:focus {box-shadow: none;}
.custom_search input.form-control {
    border: 0;
    border-radius: 0;
}

.custom_search .input-group-append button {
    border: 0;
    background: transparent;
    color: #9c9c9c;
    padding: 8px 20px;
}

.custom_search .input-group-append button:focus {
    border: 0px;
}

.srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%;
}

.heading_srch {
    padding: 10px;
    overflow: hidden;
    border-bottom: 1px solid #c4c4c4;
}

.new_chat a {
    font-size: 22px;
    color: #E3548A;
}

.recent_heading h4 {
    color: #E3548A;
    font-size: 15px;
    margin: auto;
    padding-top: 5px;
}

.srch_bar input {
    border: 1px solid #cdcdcd;
    border-width: 0 0 1px 0;
    width: 80%;
    padding: 2px 0 4px 6px;
    background: none;
}

.srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
}

.srch_bar .input-group-addon {
    margin: 0 0 0 -27px;
}

.chat_ib h5 {
    font-size: 14px;
    color: #464646;
    margin: 0 0 4px 0;
}

.chat_ib h5 span {
    font-size: 11px;
    float: right;
}

.chat_ib p {
    font-size: 14px;
    color: #989898;
    margin: auto
}

.chat_img {
    float: left;
    width: 11%;
}

.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
}

.chat_people {
    overflow: hidden;
    clear: both;
}

.chat_list {
    /* border-bottom: 1px solid #c4c4c4; */
    margin: 0;
    padding: 18px 16px 10px;
}

.inbox_chat {
    height: 785px;
    overflow-y: scroll;
}

.active_chat {
    background: #e3548a;
}
.active_chat h5, .active_chat p {
    color:#fff;
}

.incoming_msg_img {
    display: inline-block;
    width: 6%;
}

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.received_withd_msg {
    width: 57%;
}

.mesgs {
    float: left;
    padding: 30px 15px 0 25px;
    width: 67%;
}

.sent_msg p {
    background: #E3548A none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.outgoing_msg {
    overflow: hidden;
    margin: 26px 0 26px;
}

.sent_msg {
    float: right;
    width: 46%;
    margin-right: 8px;
}

.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
}

.type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
}

.msg_send_btn {
    background: #E3548A none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
}

.messaging {
    padding: 0 0 0 0;
}

.msg_history {
    height: 685px;
    overflow-y: auto;
}

.chat_img img,
.incoming_msg_img img {
    max-width: 100%;
}

.spacer20 {
    height: 20px;
    width: 100%;
}


.comment-wrapper .media-list .media.sub-coment {
    margin-left: 45px;
}

.comment-wrapper .media-list .media.sub-coment  img {
    width: 40px;
    height: 40px
}

/* CSS Added by desiger @p */

/* custom radio button css */

/* .switch-field {
	display: flex;
	overflow: hidden;
} */

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	/* box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1); */
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
    background-color: #bc718c;
    color: #ffffff;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}

/* custom radio button css end */

.col-md-12.col-sm-12.saprator {
    border-bottom: solid 1px #ddd;
}

/* chat popup tabs css */

.chat-tabs .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color:#B1748B;
    border-radius: 50px;
}

.chat-tabs a {
    color: #000000;
}

.dropdown-menu.w-drop{
    /*min-width: 7rem !important;*/
    left: initial;
    right: 0;
}

div#new-chat-modal .modal-body {
    height: 320px;
}

div#tec_list {
    max-height: 300px;
    overflow-y: scroll;
}

.custom-control.custom-checkbox {
    /*position: unset !important;*/
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #e3548a !important;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    background-color: #e3548a !important;
}

.form-control{
    font-size: 0.9rem !important;
}

.form-control.padding-file{
    padding: 0.175rem 0.55rem !important;
}

.upload-btn-wrapper {
    position: static;
    overflow: hidden;
    /*display: inline-flex;*/
    /*background: #bb708c;*/
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    width: 100px;
    height: 100px;
}

.upload-btn-wrapper input[type=file] {
    font-size: 10px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100px;
    height: 100px;
    cursor: pointer;
    left: 0;
    z-index: 999;
}

span.upload {
    width: 30px;
    height: 30px;
    position: absolute;
    background: #bb708c;
    padding: 4px 7px;
    border-radius: 0 0 0 8px;
    right: 0;
    top: 1%;
}

span.upload .fa {
    font-size: 16px;
    color: #DADADA;
}

.sidebar_new {
    background: #fff;
    box-shadow: 0 3px 13px 0px rgb(96 116 170 / 25%);
    border-radius: 10px;
    max-width: 220px;
    width: 100%;
    /* float: left; */
    height: calc(100vh - 150px);
    position: fixed;
    top: 90px;
    overflow: hidden;
}

.main-body{
    /* margin-left: 340px; */
    /* width: 100%; */
    box-shadow: 0 3px 13px 0px rgb(96 116 170 / 25%);
    background: #fff;
    border-radius: 10px; 
    margin-top: 90px;
    /* margin-bottom: 70px; */
    margin-left: 20%;
    clear: both;
    
}

.upload-btn-wrapper img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    border: solid 1px #ddd;
    border-radius: 8px;
}

a.btn.btn-outline-success.notification {
    border-color: #e3548a;
    color: #e3548a;
    font-weight: 600;
    border: 2px solid;
}

a.btn.btn-outline-success.notification:hover {
    color: #fff;
    background-color: #e3548a;
    border-color: #e3548a;
}

a.btn.chat-btn {
    background: #e3548a;
    border: 2px solid #e3548a;
    color: #ffffff;
    font-weight: 600;
}

.btn-outline-primary{
    color: #e3548a !important;
    border-color: #e3548a !important;
    background-color: transparent !important;
    border-radius: 50px !important;
}
.btn-outline-primary:hover{
    color: #ffffff !important;
    /* border-color: #e3548a !important; */
    background-color: #e3548a !important;
    border-radius: 50px !important;
}


.form-control {border: 1px solid #8a8a8a !important;}

table.table.table-bordered.table-hover.child-list{
    /* width: 80%; */
}

table.table.table-bordered.table-hover.child-list tr th span,table.table.table-bordered.table-hover.child-list tr td h6 {
    font-weight: 300;
    font-size: 15px;
}

table.table.table-bordered.table-hover.child-list thead {
    background: rgb(227 84 138 / 7%);
}

.card.tutor-card h5.company-title {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
}

.card.tutor-card p.card-text{
    color: #535353;
}
.card.tutor-card p.card-text small{
    font-size: 12px;
    border: dashed 2px #ddd;
    padding: 6px;
    border-radius: 4px;
}

.card.tutor-card p.card-text small:hover {
    border-color: #9d7093;
}

.card.tutor-card{
    border: 1px solid #DEDEDE;
    border-radius: 10px;
    transition: 0.3s;
}

.card.tutor-card img.card-img-top {
    border-radius: 10px 10px 0px 0px;
    height: 140px;
    max-height: 140px;
    object-fit: cover;
}


.card.tutor-card{
    transition: 0.3s;
    box-shadow: 0 0px 8px 0px #DEDEDE;
}

/* signup tabs */


.nav-pills .nav-link.active {
    background-color: #bc718c;
    color: #ffffff;
    box-shadow: none;
    font-size: 15px;
    line-height: 1;
    border-radius: 4px;
    text-align: center;
    transition: all 0.1s ease-in-out;
    border-radius: 50px;
}
li.nav-item a.nav-link{
    border-radius: 50px;
    background: #ddd;
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    transition: all 0.1s ease-in-out;
    margin-right: 4px;
}

span.upload img.teacher-img {
    width: 40px;
    height: 40px;
}


/* school timeline css card */

.card { 
    overflow: hidden;
    border-radius: 10px;
    transition: 0.3s;
    margin: 10px 0px;
}

.card-block {
    position: relative;
    padding: 0.5em;
    border-top: 1px solid rgba(34, 36, 38, .1);
}

.card-img-top {
    display: block;
    width: 100%;
    height: 150px;
    max-height: 100%;
}

.card-title {
    font-size: 14px;
    font-weight: 400;
    color: #102148; 
}

.card-text h3{
    margin: 0;
    font-size: 14px;
    color: #102148;
    font-weight: 600;
    letter-spacing: 0.6px;
    margin-bottom: 15px;
    transition: 0.3s;
    line-height: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.profile {
    position: absolute;
    top: -22px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
}

.profile-avatar {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}

.profile-inline ~ .card-title {
    display: inline-block;
    margin-left: 4px;
    margin-top: 4px;
    vertical-align: top;
    /* width: 70%; */
}

.profile-inline ~ .card-title.w-70{
    width: 70%;
}

.card.timeline {
    min-height: 230px;
}

.card.timeline.ocean{
    min-height: 200px;
}

.timeline .video-block {
    /* margin: 10px 0; */
    /* border: 1px solid #DEDEDE; */
    border-radius: 10px;
    transition: 0.3s;
}

.timeline .video-block:hover {
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0 0px 8px 0px #DEDEDE;
}


.timeline .video-block span {
    color: #102148;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    right: 10px;
    top: 10px;
    background: #fff;
    padding: 3px 8px;
    border-radius: 5px;
}

.timeline .video-block span .fa {
    color: #BC718C;
    margin-left: 5px;
}

.card.timeline:hover {
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0 0px 8px 0px #DEDEDE;
}

.card.timeline:hover .card-text h3 {
    color: #BC718C;
    transition: 0.3s;
}

.timeline small {
    color: #74809D;
    font-weight: 600;
    letter-spacing: 0.6px;
    font-size: 14px;
}

.f-12{
    font-size: 12px;
}
.f-11{
    font-size: 11px;
}
/*loader css*/
#loader-wrapper {
    background-color: rgba(250, 250, 250, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.loader{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    transform: translate(-50%, 50%);
    top: 35%;
    left: 50%;
    z-index: 999;
}

#loader:before, #loader:after{
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 5px solid transparent;
  border-top-color: #E3548A;
}

#loader:before{
  z-index: 100;
  animation: spin 1s infinite;
}

#loader:after{
  border: 5px solid #ccc;
}

@keyframes spin{
  0%{
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100%{
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


footer ul li a:hover {
    color: #e3548a;
}

/*video[poster]{
    width: 100%;
    height: 400px;
    object-fit: cover;
}*/



.video-box video {
    width: 100%;
    height: 400px;
    object-fit: contain;
}

.forgot-form{
    width: 100%;
}
.dropdown.select-drop {
    border: 1px solid #8a8a8a;
    padding: 6px;
    border-radius: .25rem;
    font-size: 1rem;
    color: #495057;
}

.dropdown-toggle::after{
    display: none;
}

.dropdown.select-drop .dropdown-menu.show {
    width: 100%;
    margin: -5px;
    margin-top: 7px;
    overflow-y: scroll;
    max-height: 180px;
}

.dropdown.select-drop i.fa.fa-angle-down {
    font-weight: 600;
    right: 6px;
    position: absolute;
    top: 10px;
}

.multi-drop-span{
    font-size: 15px;
    padding-left: 10px;
}


/*signup-pic-upload thumb*/

#ocean-file .upload-btn-wrapper {
    position: static;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    width: 80px;
    height: 80px;
}

#ocean-file .upload-btn-wrapper input[type=file] {
    font-size: 10px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 80px;
    height: 80px;
    cursor: pointer;
    left: 0;
    z-index: 999;
}

#ocean-file span.upload {
    width: 80px;
    height: 80px;
    position: absolute;
    background: #bb708c;
    /*padding: 4px 7px;*/
    border-radius: 0 0 0 8px;
    right: 0;
    top: 1%;
    display: flex;
    padding: 0;
    margin: 0;
}

#ocean-file span.upload img.teacher-img {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin: 0 auto;
    border: 0;

}

.col-md-3.w-20 {
    margin: 0;
    padding: 0 5px;
}

.w-20 select.form-control {
        width: 160px;
    margin: 0 8px;
}

ul.teachers-list li {
    display: inline;
}

ul.teachers-list {
    list-style: none;
    padding: 0;
}

.badge-light {
    color: #212529;
    background-color: #e4f2ff !important;
}

.paginate_button.current {
    padding: 2px 12px;
    background: #bc718c;
    border-radius: 4px;
    color: #fff;
    margin:0px 8px;
}
.num_tag_open {
    background: #ddd;
    padding: 2px 12px;
    border-radius: 4px;
}

.num_tag_open a{
    color: #74809D;
}

.first_tag_open {
    background: #ddd;
    padding: 2px 12px;
    border-radius: 4px;
}

.first_tag_open a{
    color: #74809D !important;
}

span.num_tag_open + a {
    display: none;
}

.count-req {
    padding: 2px 6px;
    background: #e3548a;
    border-radius: 14px;
    color: #fff;
    font-weight: 600;
    font-size: 10px;
}

.load_more {
    text-align: center;
}

.w-200 {
    width: 180px;
    margin: 2px 4px; 
}


.w-230 {
    width: 230px;
    margin-top: 2px;
    margin-right: 8px; 
}

.video_img img {
    border-radius: 12px !important;
    width: 300px !important;
    height: 180px !important;
}

h6.utitle {
    color: #bc718c;
    margin-top: 6px;
}

a.cursor.btn.btn_design.btn-small.like_btn_design, span.cursor.btn.btn_design_light.btn-small.like_btn_design {
    color: #000000;
    font-size: 12px;
}
a.cursor.btn.btn_design.btn-small.like_btn_design:hover, span.cursor.btn.btn_design_light.btn-small.like_btn_design:hover{
    color: #e3548a;
}

.eidt-video {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translate(5%, 42%);
    display: none;
    transition: 0.3s ease-in-out;
}

.eidt-video a i.fa.fa-pencil {
    background: #ffffff;
    padding: 4px;
    border-radius: 3px;
    color: #bc718c;
}
.cursor.btn {
    font-size: 13px!important;
}

.card.timeline:hover .eidt-video {
    display: block;
    transition: 0.3s ease-in-out;
}

.delete-video {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translate(16%, 42%);
    display: none;
    transition: 0.3s ease-in-out;
}

.delete-video a i.fa.fa-trash {
    background: #ffffff;
    padding: 4px 6px;
    border-radius: 3px;
    color: #bc718c;
}

.card.timeline:hover .delete-video {
    display: block;
    transition: 0.3s ease-in-out;
}

#pass-status {
    position: absolute;
    top: 10px;
    right: 30px;
}
#signup-pass-status-s {
    position: absolute;
    top: 10px;
    right: 10px;
}
#signup-pass-status-sr {
    position: absolute;
    top: 10px;
    right: 10px;
}

#signup-pass-status-p {
    position: absolute;
    top: 10px;
    right: 10px;
}
#signup-pass-status-pr {
    position: absolute;
    top: 10px;
    right: 10px;
}

#signup-pass-status-t {
    position: absolute;
    top: 10px;
    right: 10px;
}
#signup-pass-status-tr {
    position: absolute;
    top: 10px;
    right: 10px;
}
#pass-status-current-password {
    position: absolute;
    top: 40px;
    right: 25px;
}

#pass-status-new-password {
    position: absolute;
    top: 40px;
    right: 25px;
}
#pass-status-new-repet {
    position: absolute;
    top: 40px;
    right: 25px;
}

/*.sidebar_new .main-menu li a.active {
    background: #ffedfb;
    color: #b9708d;
    font-weight: 600;
}*/

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #bc718c !important; 
    border-color: #bc718c !important;
}

/* filter css */

.sidepanel  {
    width: 0;
    position: absolute;
    z-index: 1;
    max-height: 350px;
    top: 0;
    right: 0;
    background-color: #FCFCF2;
    overflow-x: hidden;
    transition: 0.5s;
    /* padding-top: 60px; */
}
  
.sidepanel a {
    /* padding: 8px 8px 8px 32px; */
    text-decoration: none;
    /* font-size: 25px; */
    color: #bc718c;
    display: block;
    transition: 0.3s;
   font-size:0.8em;
   padding: 10px 0px;

}
  
.sidepanel a:hover {
    color: #818181;
}
  
.sidepanel .closebtn {
     font-size: 24px;
}
  
.openbtn:hover {
    background-color:#444;
}

.filter-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.filter-header.p-2 h6 {
    margin: 0;
}

button.openbtn {
    background: transparent;
    border: none;
    cursor: pointer;
}

button.openbtn:hover,button.openbtn:focus {
    background: transparent;
    border: none;
}

.grade-ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

ul.grade-ul li {
    padding: 4px;
    border: solid 1px #ddd;
    border-radius: 4px;
    margin: 5px 0px;
    list-style: none;
}

.res-align{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.upload-list .company-name {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #102148;
    float: left;
}

.upload-list.bg-light{
    background: #FCFCF2 !important;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.remove-pd{
    padding: 0;
}

ul.media-list.remove-pd {
    margin-top: 12px;
}

.select2-container{
    width: 100% !important;
}

/* chat page css */

.main-body.only-chat {
    /* margin-top: 32px; */
}

div#chat_school_chat_view section#chat_system_section {
    position: relative;
    background: transparent !important;
}

#chat_system_section .chat-listing{
    position: relative !important;
    bottom: 0 !important;
    right: 0 !important;
    margin-right: 0 !important;
    width: 30% !important;
    max-width: 30% !important;
}

div#chat_school_chat_view section#chat_system_section .card.contacts_card {
    height: calc(100vh - 150px) !important;
}

div#chat_school_chat_view section#chat_system_section .chat-room{
    margin: 0 !important;
    right: 0 !important;
    top: 0 !important;
    max-width: 70%;
}

div#chat_school_chat_view section#chat_system_section .chat-room .card{
    height: calc(100vh - 150px);
}

div#chat_school_chat_view section#chat_system_section span.close-btn {
    right: 4px !important;
    font-size: 24px !important;
    /*top: -4px !important;*/
}

div#chat_school_chat_view section #chat_system_section .contacts_body{
    padding-top: 0 !important;
}

#new-chat-modal.modal{background: #0000009e !important;}
#new-chat-modal .modal-content{height: calc(100vh - 300px) !important;}
div#grp_list {
    max-height: 300px;
    overflow-y: scroll;
}

div#chat_school_chat_view section#chat_system_section .user_info{
    margin-left: 5px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#chat_system_section .contacts_body{
    white-space: initial !important;
}

div#chat_school_chat_view section#chat_system_section .user_img {
    height: 50px !important;
    width: 50px !important;
    object-fit: cover !important;
    border: 1px solid #f5f6fa;
}

div#chat_school_chat_view section#chat_system_section .view-info {
    max-width: 70% !important;
    width: 100% !important;
    right: 0 !important;
    bottom: 0 !important;
    height: 100% !important;
}

div#chat_school_chat_view section#chat_system_section .view-info .card{
    height: 100% !important;
}

div#chat_school_chat_view .chat_section {
    position: relative;
}

div#chat_school_chat_view section#chat_system_section .d-flex.bd-highlight.chat_info {
     justify-content: center;
     width: 100%;
}

div#chat_school_chat_view section#chat_system_section .back-btn{
    left: 14px !important;
    top: 10px !important;
}

div#edit_group.modal {
    background: #0000009e !important;
}

form#form_edit_group img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 8px;
}

div#edit_group button.btn.btn-secondary {
    border-radius: 50px;
}

#chat_system_section .view-info .d-flex.bd-highlight.view_info_box {
    display: flex;
    /* width: 64%; */
    justify-content: space-between;
}

#chat_system_section .view-info .vie_del span {
    padding: 4px ;
    cursor: pointer;
    font-size: 14px !important;
    display: flex !important;
}

#chat_system_section h6 {
    font-size: 14px !important;
}

.group-option-toggle span.dropdown-toggle {
    width: 20px;
    height: 20px;
    background: #b56f8d;
    padding: 4px 6px;
    border-radius: 100%;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}

.custom-control-input {
    position: absolute !important;
    z-index: 99999 !important; 
    left: 0 !important;
    top: 23px !important;
    opacity: 0 !important;
}

ul#group_users_list li.group .d-flex.bd-highlight {
    justify-content: space-between;
    align-items: baseline;
}

span.pri-chat i.fas.fa-comment-dots {
    font-size: 16px;
    background: #b56f8d;
    padding: 6px;
    border-radius: 100%;
    color: #ffffff;
    cursor: pointer;
    margin-right: 8px;
}


span#ad_grp_mem {
    /* cursor: pointer;
    border: solid 1px #b56f8d;
    width: 26%;
    border-radius: 50px;
    padding: 6px 12px;
    color: #b56f8d;
    font-weight: 600;
    margin-left: auto;
    margin-right: 12px; */
    cursor: pointer;
    border: solid 1px #b56f8d;
    width: 26%;
    border-radius: 50px;
    padding: 6px 12px;
    color: #b56f8d;
    font-weight: 600;
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    margin-bottom: 12px;
    text-align: center;
}

div#edit_group_member{
    background: #0000009e !important;
}

/* #chat_system_section .card-body.contacts_body.group_users_list {
    padding-top: 0 !important;
    margin-top: 0;
} */

.vie_del {
    margin-right: 12px;
}

div#edit_group_member .modal-body {
    height: 400px;
    overflow: scroll;
}

.badge-info {
    color: #fff;
    border-radius: 100% !important;
    font-weight: normal !important; 
    background-color: #b56f8d !important;
    width: 24px !important;
    height: 24px !important;
}

span.del-usr i.fa.fa-trash {
    font-size: 14px;
    background: #b56f8d;
    padding: 7px;
    border-radius: 100%;
    color: #ffffff;
    cursor: pointer;
    margin-right: 8px;
}

#chat_system_section .msg_head.pre-grp-chat{
    display: flex !important;
    justify-content: space-between !important;
}

#chat_system_section .msg_head.pre-grp-chat span#gcs_view_info {
    font-size: 18px !important;
    cursor: pointer;
}
.desc_grp{
    white-space: initial;
    font-size: 12px;
    word-wrap: break-word;
    word-break: break-all;
    padding-right: 40px;
}

/* chat css end */

.custom-multi-select input.select2-search__field::placeholder {
    font-size: 14px !important;
    padding-left: 6px !important;
    color: #495057 !important;
}


.phl-video {
    height: 207px;
}

.phl-video img {
    height: 100%;
    object-fit: cover;
}

#the-count {
    float: right;
    padding: 0.1rem 0 0 0;
    font-size: 0.875rem;
  }
  #input-count {
    float: right;
    padding: 0.1rem 0 0 0;
    font-size: 0.875rem;
  }


div#tec_list img.mr-2 , div#grp_list img.mr-2 {border-radius: 100%;}
.c-pink{color:#B1748B}

#chat_system_section .msg_cotainer_send {
    background-color: #b56f8d !important;
    max-width: 95% !important;
    color: #ffffff;
    min-width: auto !important;
    margin-right: 0 !important;
    /*text-align: right !important;*/
}

div#chat_school_chat_view section#chat_system_section span.msg_time_send.msg_time_reciv {
    position: absolute !important;
    left: 0 !important;
    color: #b1b1b1 !important;
    font-size: 10px !important;
    width: 120px !important;
    text-align:left;
    bottom: -18px !important;
}

#chat_system_section .file a.document, #chat_system_section .file a.video_btn, #chat_system_section .file a.img_box{
    height: 200px !important;
}

#chat_system_section .msg_cotainer{
    max-width: 95% !important;
    background-color: #ebebeb !important;
    margin-left: 0 !important;
    min-width: auto !important;
}

#chat_system_section .msg_cotainer_send a.img_box, .msg_cotainer.file a.img_box , .msg_cotainer.file a.video_btn.open_video_modal , #chat_system_section .msg_cotainer_send a.video_btn.open_video_modal{
    margin: 0 !important;
}

div#chat_school_chat_view section#chat_system_section .contacts_card .card-header {
    padding: 4px 8px 32px 8px !important;
}
#chat_system_section .img_cont{
    margin-bottom: 10px !important;
}
span#unreadCount {
    background: #ffffff;
    border-radius: 15px;
    padding: 2px 8px;
    color: #b56f8d;
    margin-left: 0 !important;
}

button.swal-button.swal-button--dance.btn.btn-default.add-row:focus{box-shadow: none !important;}

button.close.custom-close-btn:hover {opacity: 1!important; }
button.close.custom-close-btn {
    position: absolute;
    right: -12px;
    top: -12px;
    background: #b56f8d;
    opacity: 1;
    z-index: 99;
    padding: 4px;
    border-radius: 20px;
    width: 30px;
    height: 30px;
}

button.close.custom-close-btn span {color: #ffffff;font-weight: 300;}

#chat_system_section .input-group>ul.nav.nav-tabs li {
    border: none !important;
}
#chat_system_section .input-group>ul.nav.nav-tabs li a{
    color: #ffffff9c !important;
}

#chat_system_section .input-group>ul.nav.nav-tabs li.active{
    background-color: transparent !important;
}

#chat_system_section .msg_time_send{
    text-align:right;
    bottom: -18px !important;
    width: 120px !important;
}

div#chat_school_chat_view section#chat_system_section .attach_btn {
    border-radius: 0px 0 0 8px !important;
}

  /* group-image preview */
#group-profile-img .upload-btn-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border: none;
}

#group-profile-img span.upload {
    width: 60px;
    height: 60px;
    position: absolute;
    background: #d3d6e3;
    padding: 4px 7px;
    right: 0;
    top: 1%;
}

#group-profile-img .upload-btn-wrapper {
    position: static;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    width: 60px;
    height: 60px;
}

#group-profile-img .upload-btn-wrapper input[type=file] {
    font-size: 10px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
    left: 0;
    z-index: 999;
}

#group-profile-img .upload-btn-wrapper {
    position: static;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    width: 60px;
    height: 60px;
}

/* #chat_system_section .file a.video_btn > img {
    width: 100%!important;
    position: absolute;
    top: 50%;
    object-fit: cover !important;
    left: 50%;
    transform: translateY(-50%)translateX(-50%);
} */

/*#chat_system_section .img-responsive {
    width: 100%;
    height: auto;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 99;
    top: 0;
    width: 30px!important;
    left: 0;
    right: 0;
    margin: 0 auto;
}
#chat_system_section .img-responsive {
    width: 100%;
    height: 200px !important;
    width: 100%;
    max-height: 100%;
    object-fit: contain !important;
}*/

/* #chat_system_section .img-responsive {
    width:100% !important;
    height: 100% !important;
    object-fit: cover !important;
    padding: 4px;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
} */

 button.swal-button.swal-button--dance.btn.btn-default.add-row {
    border-radius: 70px;
    background: #b7b7b7;
    border: solid 2px #b7b7b7;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#chat_system_section span {
    font-size: 12px !important;
    line-height: 20px !important;
}

#chat_system_section button span {
    font-size: 24px !important;
}

#chat_system_section .user_info span {
    font-size: 15px !important;
    font-weight: 600;
}
/* css for mozila browser only */

@-moz-document url-prefix() {
    .row.row-ff {
        display: block ruby;
        overflow-x: clip;
        ruby-align: unset;
    }
    /* .row.row-ff {
        display: inline-flex;
        flex-wrap: wrap;
    } */

:root{
    scrollbar-face-color: lightblue; /* background color (Firefox 63 only) */
    scrollbar-track-color: #f5f5f5; /* thumb/slider color (Firefox 63 only) */
    
    /* background color [1. color] // thumb/slider color [2. color] (Firefox 64+) *********/
    scrollbar-color: #dedede lightgrey;
    
    /* size/width *************************************************************************/
    /*	scrollbar-width: auto; = default OS scrollbars
          scrollbar-width: thin; = small scrollbars without buttons
          scrollbar-width: none; = scrollbars are hidden
          scrollbar-width: 17px; (not working yet, but might be supported in the future)  */
    scrollbar-width: thin;
  }


}
.height-fixed .card-title span {
    display: block;
    margin-bottom: 2px;
    width: 100%;
    max-width: 192px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}