.error {
    color: #ff0000 !important;
    font-weight: 400;
}

.parsley-required {
    color: red !important;
    font-size: 14px;
    list-style: none;
    margin-left: 0px;
}

.parsley-errors-list {
    color: red !important;
    font-size: 14px;
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}

.mandatory{
    color: red;
}
.grey-text {
    color:#74809D;
}
.files .parsley-errors-list {
    color: red !important;
    font-size: 14px;
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    margin: 14px!important;
    clear: both;
    overflow: hidden;
    position: relative;
    top: 19px;
}