@media only screen and (min-width: 1921px) and (max-width: 3000px)  {
    .navbar-brand.min-768{
        display: none;
    } 

    .hide-lg{
        display: none;
    }

    .main-body{
        margin-left: 20%;
        height: calc(100vh - 150px);
        overflow-y: hidden;
        position: static;
        top: 30px;
    }
    
    .sidebar_new{
        max-width: 220px;
        z-index: 99;
        overflow-y: auto;
        height: calc(100% - 150px);
    }
 }

 @media only screen and (min-width: 1602px) and (max-width: 1920px)  {

    .navbar-brand.min-768{
        display: none;
    } 

    .hide-lg{
        display: none;
    }

    .main-body{
        margin-left: 20%;
        height: calc(100vh - 150px);
        overflow-y: hidden;
        position: static;
        top: 30px;
    }
    
    .sidebar_new{
        max-width: 220px;
        z-index: 99;
        overflow-y: auto;
        height: calc(100% - 150px);
    }
 
}

 @media only screen and (min-width: 1400px) and (max-width: 1601px)  {
    
    .navbar-brand.min-768{
        display: none;
    }

    .hide-lg{
        display: none;
    }

    /* .main-body{    
        margin-left: 17%;
        max-height: 80vh;
        overflow-y: scroll;
        position: fixed;
        top: 22px;
    } */

    .main-body{
        margin-left: 20%;
        height: calc(100vh - 150px);
        overflow-y: hidden;
        position: static;
        top: 30px;
    }
    
    .sidebar_new{
        max-width: 220px;
        z-index: 99;
        overflow-y: auto;
        height: calc(100% - 150px);
    }

    #new-chat-modal .modal-content {
        height: calc(100vh - 200px) !important;
    }

}


@media only screen and (min-width: 1025px) and (max-width: 1399px)  {
    
    .navbar-brand.min-768{
        display: none;
    }

    .hide-lg{
        display: none;
    }

    .main-body{
        margin-left: 20%;
        height: calc(100vh - 150px);
        overflow-y: hidden;
        position: static;
        top: 30px;
    }
    
    .sidebar_new{
        /* max-width: 210px; */
        z-index: 99;
        overflow-y: auto;
        height: calc(100% - 150px);
    }

    #new-chat-modal .modal-content {
        height: calc(100vh - 200px) !important;
    }
    
}
@media only screen and (min-width: 1024px) and (max-width: 1200px)  {
    
    .navbar-brand.min-768{
        display: none;
    }

    .hide-lg{
        display: none;
    }
    
    .main-body{
        margin-left: 24%;
        height: calc(100vh - 150px);
        overflow-y: hidden;
        position: static;
        top: 30px;
    }
    
    .sidebar_new{
        max-width: 220px;
        z-index: 99;
        overflow-y: auto;
        height: calc(100% - 150px);
    }
      .w-20 select.form-control {
        width: 120px;
    }

    #new-chat-modal .modal-content {
        height: calc(100vh - 200px) !important;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1023px)  {
    
    .navbar-brand.min-768{
        display: none;
    }

    .hide-lg{
        display: none;
    }

    .main-body{
        margin-left: 26%;
        height: calc(100vh - 150px);
        overflow-y: auto;
        position: static;
        top: 30px;
    }
    
    .sidebar_new{
        max-width: 230px;
        z-index: 99;
        overflow-y: auto;
        height: calc(100% - 150px);
    }    
    .w-20 select.form-control {
        width: 120px;
    }
    #new-chat-modal .modal-content {
        height: calc(100vh - 200px) !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px)  {
    
    .navbar-brand.min-768{
        display: none;
    }

    .hide-lg{
        display: none;
    }    

    .main-body{
        /* margin-left: 26%; */
        height: calc(100vh - 150px);
        overflow-y: auto;
        position: static;
        top: 30px;
        margin-top: 73px;
    }
    
    .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
        padding-right: 15px;
        padding-left: 15px;
    }

    .main-body{margin-left: 0;}

    .main-body.only-chat {
        /* margin-top: 15px; */
    }
    
    .sidebar_new{
        z-index: 99;
        display: none;
        left: 40px;
        top: 73px;
        overflow-y: auto;
        height: calc(100% - 150px);
    }
    
    section.signup-page{
        height: 150vh !important;
    }

    .card.timeline {
        min-height: 250px;
    }

    #new-chat-modal .modal-content {
        height: calc(100vh - 200px) !important;
    }
}

@media only screen and (min-width: 319px) and (max-width: 767px)  {
    
    /* .dropdown-menu.w-drop {
        min-width: 7rem !important;
        position: absolute;
        left: -60px;
    } */

    .order-change{
        order: 2;
    }

    video[poster] {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    .navbar-brand.min-768{
        display: block;
        margin-left: 30px;
        width: 30px;
    }
    
    .navbar-brand.max-768{
        display: none;
    }

    .hide-xs{
        display: none;
    }
    
    .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
        padding-right: 15px;
        padding-left: 15px;
    }

    .signup-page .right-form{
        margin-bottom: 70px;
        max-width: 300px;
        width: 100%;
    }  

    .main-body{
        height: calc(100vh - 190px);
        overflow-y: auto;
        position: static;
        top: 30px;
        margin: 75px 0px 0px 0px;
    }

    .main-body.only-chat {
        /* margin-top: 20px; */
    }

    footer, footer h5{
        margin: 0 auto;
        text-align: center;
    }

    .sidebar_new{
        z-index: 99;
        display: none;
        left: 12px;
        top: 70px;
        overflow-y: auto;
        height: calc(100% - 80px);
    }

    .card-img-top{
        max-height: 200px;
    }

    #new-chat-modal .modal-content {
        height: calc(100vh - 200px) !important;
    }

}

@media only screen and (max-width: 767px)  {
    #chat_system_section .chat-listing {
        position: relative !important;
        bottom: 0 !important;
        right: 0 !important;
        margin-right: 0 !important;
        width: 100% !important;
        max-width: 100% !important;
    }
    div#chat_school_chat_view section#chat_system_section .card.contacts_card, div#chat_school_chat_view section#chat_system_section .chat-room .card {
        height: calc(100vh - 190px) !important;
        margin-bottom: 0 !important;
    }
    div#chat_school_chat_view section#chat_system_section .chat-room {
        margin: 0 !important;
        right: 0 !important;
        top: 0 !important;
        max-width: 100%;
    }
    div#chat_school_chat_view section#chat_system_section .view-info {
        max-width: 100% !important;
        width: 100% !important;
    }
}

@media only screen and (min-width: 426px) and (max-width: 574px)  {
    #chat_system_section .view-info .d-flex.bd-highlight.view_info_box {
        display: flex;
        width: 68%;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 319px) and (max-width: 425px)  {
    #chat_system_section .view-info .d-flex.bd-highlight.view_info_box {
        display: flex;
        width: 84%;
        justify-content: space-between;
    }
}

/* CSS for Macbook Air */

@media not all and (min-resolution:.001dpcm) { @media { 
    /* Safari and Chrome, if Chrome rule needed */
   [type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button-bevel;
    }

    .main-body{
        margin-left: 22%;
        height: calc(100vh - 150px);
        overflow-y: hidden;
        position: static;
        top: 30px;
    }
    
    .sidebar_new{
        max-width: 230px;
        z-index: 99;
    }

}}
 